@import "../generalStyles/general.scss";
@import "../generalStyles/reset.scss";

.popup__wrapper {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 45px);
  background: rgba(0, 0, 0, 0.5);
}

.popup {
  position: absolute;
  z-index: 10;
  background: $col2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: max-content;
  padding: 50px;
  border-radius: 10px;
  visibility: hidden;
  animation: visible .3s ease-in forwards;
}

@keyframes visible {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
