.main {
  flex: 1 1 auto;
  padding: 20px 50px;
  transition: all .5s ease;
  .container {
    max-width: 900px;
  }

  &.opened {
    margin-left: 300px;
  }
}

@media screen and (max-width: 500px) {
  .main {
    padding: 10px 15px;
  }
}