@import "../generalStyles/reset.scss";
@import "../generalStyles/general.scss";


.header {
  height: 45px;
  background: $col3;
  position: relative;
  z-index: 50;

  .container {
    height: 100%;
  }
}

.header__wrapper {
  height: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  cursor: pointer;

  .burger__btn {
    background: transparent;
    width: 20px;
    height: 20px;
    position: relative;
    padding: 15px;
    border-radius: 5px;
    transition: all .2s ease;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 1.5px;
      background: $col2;
      top: 25%;
      left: 50%;
      transform: translateX(-52%);
      z-index: 2;
      transition: all .3s ease-out;
    }

    &::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 1.5px;
      background: $col2;
      bottom: 25%;
      left: 50%;
      transform: translateX(-52%);
      z-index: 2;
      transition: all .3s ease-out;

    }

    span {
      position: absolute;
      width: 20px;
      height: 1.5px;
      background: $col2;
      top: calc(50% - 0.75px);
      left: 50%;
      transform: translateX(-52%);
      z-index: 2;
      transition: opacity .3s ease-out;
    }

    &.menu-open {
      span {
        opacity: 0;
      }
      &::after {
        top: 48%;
        transform: translate(-52%, -52%) rotate(45deg);
      }
      &::before {
        bottom: 47%;
        transform: translate(-52%, -52%) rotate(-45deg);
      }
    }
  }
}

.header__profile {
  color: $col2;
  font-family: $f1;
  font-weight: bold;

  .profile__ava {
    background: $col2;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    color: $col3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup.popup__menu {
  }
}

