* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, :before, :after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* MAIN */
* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  flex: 1 0 auto;
}

.header {
  height: 45px;
  background: #db4c3f;
  position: relative;
  z-index: 50;
}
.header .container {
  height: 100%;
}

.header__wrapper {
  height: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  cursor: pointer;
}
.header__menu .burger__btn {
  background: transparent;
  width: 20px;
  height: 20px;
  position: relative;
  padding: 15px;
  border-radius: 5px;
  transition: all 0.2s ease;
}
.header__menu .burger__btn:hover {
  background: rgba(255, 255, 255, 0.2);
}
.header__menu .burger__btn::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 1.5px;
  background: #fff;
  top: 25%;
  left: 50%;
  transform: translateX(-52%);
  z-index: 2;
  transition: all 0.3s ease-out;
}
.header__menu .burger__btn::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 1.5px;
  background: #fff;
  bottom: 25%;
  left: 50%;
  transform: translateX(-52%);
  z-index: 2;
  transition: all 0.3s ease-out;
}
.header__menu .burger__btn span {
  position: absolute;
  width: 20px;
  height: 1.5px;
  background: #fff;
  top: calc(50% - 0.75px);
  left: 50%;
  transform: translateX(-52%);
  z-index: 2;
  transition: opacity 0.3s ease-out;
}
.header__menu .burger__btn.menu-open span {
  opacity: 0;
}
.header__menu .burger__btn.menu-open::after {
  top: 48%;
  transform: translate(-52%, -52%) rotate(45deg);
}
.header__menu .burger__btn.menu-open::before {
  bottom: 47%;
  transform: translate(-52%, -52%) rotate(-45deg);
}

.header__profile {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: bold;
}
.header__profile .profile__ava {
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: #db4c3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=Header.css.map */
